*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*=================== Variaveis padrão ==================  */
:root{
    --cor1: #7581C1;
    --cor2: #0A063E;
}

.logo{
    height: 50px;
}

/* Menu nav bar */
.nav-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1%;
    
    & .nav-item{
        position: relative;
        cursor: pointer;
        padding: 10px 30px;
        transition: all 0.5s;
        color: #0A063E;

        &:nth-child(5), &:nth-child(6){
          padding: 10px 15px;
          margin: 0 5px;
        }

        &:hover::before{
            content: '';
            position: absolute;
            width: 90%;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid var(--cor2);
            animation: menunav 0.2s linear;
        }
    }
}

/* PArte do corpo */

#home{
    background-image: url('../imgs/banner01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & h5, & h1, & p{
        color: #f2f2f2;
    }

    & p{
        font-weight: bold;
    }

    & .btn{
        font-weight: bold;
        width: 200px;
        height: 50px;
        background-color: coral;
        border: none;
        box-shadow: 0px 0px 20px 1px rgba(255, 127, 80, 0.765); 
        &:hover{
            scale: 1.1;
        }
    }
}
#home span{
    color: coral;
    font-weight: bold;
}

/* FOOTER para rodapé */
footer{
    position: relative;
    background-color: #7580c162;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* margin-top: 20px; */
    & .rows{
        display: flex;
        background-color: #0A063E;
        color: #ffff;

        & p{
            font-size: 13pt;
            margin: 0;
        }

        &:nth-child(1){
            align-items: center;
            
            & p{
                margin-left: 10px;
            }
            & .logo{
                margin-left: 10px;
                border-radius: 50%;
                background-color: #d2d2d2;
                padding: 5px;
            }
        }

        &:nth-child(2){
            justify-content: center;
            align-items: center;
            & ul{
                flex-direction: column;
                margin-right: 70%;
                margin-top: 8px ;
                cursor: pointer;
                & a{
                    text-decoration: none;
                    color: #d2d2d2;

                    &:hover{
                        color: var(--cor1);
                        text-decoration: underline;
                    }
                }
            }
        }

        &:nth-child(3){
            flex-direction: column;
            justify-content: center;
            & div{
                display: flex;
                align-items: center;

                & p{
                    width: 40%;  
                }
                & a{
                    margin:0 15px;
                    text-align: center;
                    width: 30px;
                    height: 25px;
                    border-radius: 50%;
                    color: #d2d2d2;
                }
            }
        }

        &:nth-child(4){
            flex-direction: column;
            justify-content: center;
            text-align: center;
            & div{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 14px;
            }
            & img{
                height: 50px;
                width: 40px;
                cursor: pointer;
                &:hover{
                    scale: 0.9;
                }
            }
        }
    }

    & .copy{
        border-top: 1px solid #f2f2f249;
        position: absolute;
        background-color: #0A063E;
        bottom: -80px;
        height: 80px;
        width: 100%;
        text-align: center;
        color: #f2f2f2;
        padding-top: 10px;

        & a{
            color: #f2f2f2;
            font-size: 25px;
            margin: 0 30px;
        }
    }
}
   

@keyframes menunav {
    0%{
        left: 0;
        width: 1%;
    }
    100%{
        left: 0;
        width: 90%;
    }
}
